body {
  background-color: #E7EFF0;
  font-family: monospace;
  margin: 100px;
}

button {
  background-color: #95A5A6;
  border-radius: 4px;
  color: white;
  font-family: monospace;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;
}

/* p {
  color: red;
} */