<html>
 <head>
   <link rel="stylesheet" href="/style.css">
 </head>
 <body>
    <form action="/bookmarks/<%=@bookmark_id%>/tags" method="POST">
      <input name="tag" type="text" />
      <input value="ADD" type="submit" />
    </form>
 </body>
</html>